<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/login.css" />
    <link rel="stylesheet" href="../styles/round_button.css" />
    <title>The Main Event | Login</title>
  </head>
  <body>
    <section class="inner-container">
      <h1 class="title">The main event</h1>
      <p class="description">
        There is an empty canvas.<br>
        You may place a tile upon it, but you must wait to place another.<br>
        Individually you can create something.<br>
        Together you can create something more.
      </p>
      <button class="round-button" id="login-button">Login</button>
    </section>
    
    
    <script type="module" src="../scripts/login.js" defer></script>
  </body>
</html>